/* Add your CSS here to style your halloween page */
ul {
    background-color:rgb(255, 111, 0);
    color: white;
    padding: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-family: "Outfit", sans-serif;
    font-size: 1.2rem;
}

h1, h2 {
    color:rgb(90, 6, 169);
    text-align: center;
    font-family: "Niconne", cursive;
}

h1 {
    font-size: 3rem;
}

p {
    color:rgb(255, 111, 0);
    font-family: "Outfit", sans-serif;
}

footer {
    background-color:rgb(255, 111, 0);
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: "Outfit", sans-serif;
}

img {
    display: block;
    margin: auto;
    border: 5px solid rgb(90, 6, 169);
    border-radius: 20px;
}

main {
    padding: 20px;
    width: 70%;
    margin: 0 auto;
}

section {
    padding-bottom: 10px;
}