#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #00afb9;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    background-color: #fed9b7; 
    color: black;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#background {
    height: 725px;
    background-color: #fdfcdc; 
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: #fcfbfb; 
    font-family: Tahoma, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #fcfbfb; 
    display: grid;
    grid-template-columns: 150px auto;
}
.book, .join {
    background-color: #fcfbfb; 
    color: #00afb9;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #fed9b7; 
    color: black;
}
footer {
    background-color: #fcfbfb; 
    color: #00afb9;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title {
    color: #00afb9;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #00afb9;
}
.msg {
    background-color: #fdfcdc; 
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: #00afb9;
}
.msg p {
    color: #00afb9;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: #00afb9;
    text-decoration: none;
}
footer a:hover {
    color: black;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer p {
    font-size: 1.2em;
}   
footer p a:hover {
    text-decoration: underline;
}
.msg h2 {
    font-family: Georgia, serifï¼›
}
.home-title {
    font-family: Georgia, serif;
    font-size: 2em;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #fed9b7;
}
main section img {
    box-sizing: border-box;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    color: white;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}      
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img {
    width: 100%;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}